body {
  background-color: rgb(255, 254, 254);
}

.container {
  height: 700px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
}

.result-area {
  /*border: 2px solid;
  border-radius: 5px;*/
  height: 200px;
  margin: 10px;
  text-align: right;
  color: gray;
  font-size: 25px;
  padding: 10px;
}

.all-the-buttons {
  height: 450px;
  margin: 10px;
}

.buttons {
  margin-top: 10px;
  text-align: center;
}

.button-style {
  height: 70px;
  width: 70px;
  border: 0px;
  border-radius: 35px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  font-size: large;
}

.button-style:active {
  background: gray;
}

#zero {
  height: 70px;
  width: 160px;
}

#result {
  color: black;
  margin-bottom: 10px;
}

#plus {
  background-color: orange;
}
#plus:active {
  background: yellow;
}
#minus {
  background-color: orange;
}
#minus:active {
  background: yellow;
}
#divide {
  background-color: orange;
}
#divide:active {
  background: yellow;
}
#multiply {
  background-color: orange;
}
#multiply:active {
  background: yellow;
}
#equal {
  background-color: orange;
}
#equal:active {
  background: yellow;
}

@keyframes big {
  0% {
    font-size: 35px;
  }
  100% {
    font-size: 45px;
  }
}

@keyframes small {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 16px;
  }
}
